.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.border {
  padding: .5rem;
  /* margin-right: 1rem; */
  margin-bottom: .1rem;
  border: 1px solid #2596be;
}

.borderTitle {
  width: 30%
}

.borderSmall {
  width: 15%;
}