/* #FF55A1 */
/* #00CCFE */
/* #A35DB5 */
/* #FAFAFA */

.titleContainer {
  display: flex;
  align-items: center;
  margin-left: 2%;
}

.title {
  padding: 1rem;
}

.bugImg {
  width: auto;
  height: 2rem;
  margin-right: -0.5rem;
}

.tableHeading {
  display: flex;
  width: 100vw;
  margin-left: 5.5%;
  margin-bottom: 0.5rem;
}

.tableAlign {
  margin-right: 0.4rem;
  margin-bottom: 0.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.border {
  color: #FAFAFA;
  display: flex;
  align-items: center;
  background-color: #00CCFE;
  padding: 0.5rem;
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
  height: 2.5rem;
}

.borderTitle {
  width: 30vw;
}

.borderSmall {
  width: 15vw;
}

.assignedToContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.btn {
  font-size: .8rem;
  color: black;
  background-color: #FAFAFA;
  border: none;
  width: 5vw;
  height: 4.5vh;
  border-radius: .5rem;
  box-shadow: .1rem .2rem .5rem .1rem rgb(0, 0, 0, .3);
  cursor: pointer;
  transition: all .2s;
}

.btn:active {
  margin-top: .2rem;
  box-shadow: .1rem .1rem .2rem .1rem rgb(0, 0, 0, .2);
  transform: scale(.98);
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnDelete {
  border: none;
  margin-right: .5rem;
  height: 2rem;
  border-radius: .5rem;
}

.btnDelete:hover {
  background-color: rgb(0, 204, 254, 0.1);
  cursor: pointer;
}