.container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.labelMargin {
  margin-right: .3rem;
}

.input {
  font-family: Montserrat;
  font-size: .9rem;
  color: gray;
  height: 2rem;
  background-color: rgb(0, 204, 254, 0.1);
  border: none;
}

.input::placeholder {
  color: gray;
}

.input:focus {
  outline: none;
}

.btn {
  color: gray;
  background-color: rgb(0, 204, 254, 0.1);
  border: none;
  border-radius: .5rem;
  width: 15vw;
  transition: all 0.2s;
}

.btn:hover {
  background-color: rgb(0, 204, 254, 0.2);;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}
